body{
    background-color: rgb(241, 225, 205);  /* to choose the backgoorud color of the website */
}

.navbar{  /* for the menu/ navigation baar at the top of my website with nav-links */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Georgia', serif;
    font-size: 2rem;
    flex-direction: row;
    color: rgb(4, 42, 60);
    background-color: rgb(246, 217, 180);
    text-align: center;
    
   

}

.nav-links{
  
    text-decoration: underline;
    color: rgb(4, 42, 60);
    font-family: 'Georgia', serif;
    font-size: 1.5rem; /* putting the font size as 1.5rem so that it's not too small but not too big / it's appropriate for my web page */
}
.nav-links nav{
     display: flex;
    gap: 20px;
}   /* to have space between home contact and about , not to be glued with one another */
.nav-links a:visited {  /* so that the site that i vist stay the color that i choose instead of the default purple color */
    color: rgb(4, 42, 60);
}

#hero{
   
    border: 4px dashed  rgb(4, 42, 60);
    margin-top: 30px;
    padding: 20px;
}
.text h1 {
    color : rgb(4, 42, 60);
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 3rem;
    font-weight: 800;
    padding-left: 10px;
    margin: 10px auto; /*the auto share the space left in equal space: 10px en haut et en bas, et auto à gauche et à droite. */
    margin-top: 50px; /* so that the about me isn't diirectly after the home , contact... , to have alittle space between them */
    margin-bottom:20px;
}

#my-photo {
    width: 100%;
    max-width: 390px;
    height: auto;  /* to adapt for all type of screen*/
    border: 4px groove rgb(11, 11, 11);
     display: block;
    margin: 20px auto;  /* so that i can put my photo in the center of my webpage */
    /*20px en haut et en bas, et auto à gauche et à droite.*/
     
   
}
.text .container {
    display: flex;
    justify-content: center;
    gap: 30px;/* to space the 2 boxes/ have space between them we put gap*/
    color: rgb(57, 111, 132);/* in order to stay in that blue / beige tone and make everything pop a little more */
    
}

.text .container section {  /* because we are using section so that we have the a little more about me and skills as box one beside the other not under the other */
/* the parent container now uses a flex row and the two child boxes each take about half the width.*/
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.text .box{
    width: 50%;
    text-align: center;
    padding: 10px; /* i want the border to be far of the text for 10 px */
    font-size: 1.7rem; 
    font-family:'Georgia', serif;  /* changing the sub title are making a difference between the main tiltle ABOUT ME and the others one */
}


.text h2{
    font-family: 'Arial', serif; 
    font-size: 2rem;
    text-decoration-line: underline;
    text-decoration-style:solid;
    text-decoration-color: black;
   color: rgb(57, 111, 132);
   text-align: center;
}
.text p  {
    font-family: 'Arial', serif; /* this text font is tthe best for paragraph and text because it's the one preferable for people with dyslexia or reading diisorder so putting the text font to Arial is better so that anyone can read it without problem */
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 10px;
    text-align: center;
    color: black;
    margin-bottom:20px;
    
    
}

.text .p1 {
    font-family: 'Gill Sans MT', serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    font-weight: 800;
    text-decoration-line: underline;
    text-decoration-color: rgb(8, 8, 75);
}


.text ul {
    font-size: 1.5rem;
    line-height: 1.5;
    color: black;
    margin: 10px auto; /* wiithout the auto the bullet point won't be in the center of tthe box but at the left*/
    font-style: italic;
    font-family:  'Gill Sans MT', sans-serif;
     padding-left: 30px;
    width:fit-content;/* the border box dashed created won't take the whole sceen with the wirtting in it , it will just take the text nothing more, the bullet point won't just stay now on the left but will now follow the text and be like them in the center */
    
}


.text .contact{
    display:flex;
    justify-content: space-around;
    gap:30px;
    margin-top: 50px;
     /* changing the sub title are making a difference between the main tiltle ABOUT ME and the others one */

}
.text .Form{
    width: 50%;
    text-align: center;
    padding: 10px; 
    font-family:'Gill Sans MT', serif; 
     color: rgb(57, 111, 132);
    font-size: 1.7rem; 
    
  
    
}

#name , #email, #message{  /* instead of wirtting 3 time the same thing i do that to have all of them the same design */
    font-family:'Arial', serif; 
    font-size: 1.4rem;
    color: rgb(27, 51, 60);/* change the color of the text inside the box */
    border:4px solid rgb(11, 11, 46);
    background-color: rgb(229, 233, 235);
    text-align: center;
    margin-bottom: 20px;
}


label{
    
    font-family:'Georgia', serif;  
    color: rgb(17, 70, 94);/* change the color of the text inside the box */
    text-align: center;
    margin-bottom: 20px;
     
}

#submit{
    border-radius: 10%;  /* to make the button rounder*/
    border-color:rgb(67, 60, 51);
    font-size:1.5rem;
    font-family: "Gill Sans MT", serif;
    background-color: rgb(191, 210, 217);
}
.mylinks{
     display: flex;
     justify-content: space-around;
     gap: 30px;
     margin-top:20px;
}
.social-link{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#logo_1, #logo_2 , #logo_3{  /* so that the 3 logos that i create have the same size not too big but not too little */ 
    width: 100px;
    height: 100px;
    object-fit: contain;
}
/* for the footer*/
.foot{
    font-size:1.3rem;
    font-family: "Gill Sans MT", serif;
    color: rgb(4, 42, 60);
}
